#myForm {
  position: absolute;
  right: 0px;
  width: 300px;
  border: 3px solid #73ad21;
  padding: 10px;
}
#joinForm {
  top: 140px;
  position: absolute;
  right: 0px;
  width: 300px;
  border: 3px solid #73ad21;
  padding: 10px;
}
#newuser {
  position: absolute;
  right: 0px;
  width: 300px;
  border: 3px solid #747572;
  padding-top: 10px;
}
h1 {
  font-family: 'Meie Script', cursive;
  font-size: 42px;
}
#homeBackground {
  background-image: url()('/home/ivoryblakk/github_repos/familybook/pexels-photo-130111.jpeg');
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(119, 155, 52, 0.34);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Meie Script', cursive;
}

li a:hover:not(.active) {
  background-color: #b4f3ae;
}

.active {
  background-color: #4caf50;
}
